body{
	
	margin:0; background-repeat: no-repeat; background-attachment: fixed; 
    
}

.ust_serit{
	
	width:100%; height:2%; background-color:#031164;
}

.header{
	
	width:100%; height:100px; background-color:white;	float:left;
}

.orta{
	
	width:100%; height:cover; float:left; background-image:url("../img/login.jpg"); background-size: cover;
}

.footer{
	
	width:100%; height:200px; background-color:#031164; float:left;
}

.logo{
	
	width:500px; height:50px; float:left;  
}

.linkler{
	
	float:left; background-color:white;  text-decoration:none; color:black; width:200px; height:100px; text-align:center; line-height:100px; font-family: Arial; font-size:20px; 
}

.linkler:hover{
	
	background-color:#031164;  color:white;
}

.o_menu{
	
	float:left; width:225px; height:175px; margin-top:50px; text-align:center; line-height:175px; color:white; margin-bottom:100px;
}

.o_menu:hover{
		
	transform: scale(1.1); 
} 

#giris_b:hover{
	
	text-decoration:underline;
}

#k_arayuz:hover{
	
	text-decoration:underline;
}




.galeri {
	margin: 3% auto;
	max-width: 1200px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;

	
}

.satir {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resim {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
}

.resim img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}
